.footer-wrapper.clearfix
  %ul
    %li.top
      旅を探そう
    %li
      トリッピースTOP
    %li
      エリア一覧
    %li
      アクティビティ一覧
    %li
      旅仲間募集中
    %li
      ウユニ・マチュピチュ2017

  %ul
    %li.top
      トリッピースについて
    %li
      よくある質問
    %li
      お問い合わせ
    %li
      利用規約
    %li
      プライバシーポリシー
    %li
      保険勧誘方針

  %ul
    %li.top
      コンテンツ
    %li
      運営会社
    %li
      企業情報
    %li
      ニュースリリース
    %li
      採用情報
    %li
      ロゴの使用について

  %ul
    %li.top
      その他
    %li
      トリッピースBlog
    %li
      CEOBlog
    %li
      公式Facebook
    %li
      公式Twitter
    %li
      スマホ表示モード