%header
  .logo
    %p
      trippiece
  %header__title
    %header__title--main
      %p
        みんなで遊べば、
        %br
        地球は楽しい。
    %header__title--sub
      %p
        どこにもない旅を、みんなでつくる。
        %br
        trippiece<トリッピース>
  .signupLinks
    .signupLinks__buttons.clearfix
      .signupLinks__buttons--upper
        .signupLinks__buttons--upper--facebook.btn
          Facebookで新規登録/ログイン
        .signupLinks__buttons--upper--email.btn
          メールアドレスで新規登録
      .signupLinks__buttons--middle
        .signupLinks__buttons--middle--text
          trippieceが許可無くSNSへ投稿することはありません。
        .signupLinks__buttons--middle--or
          または
      .signupLinks__buttons--bottom
        .signupLinks__buttons--bottom--google
          google+で新規登録/ログイン
  .loginLink
    %p
      すでにユーザーの方はこちら
