header{
  background-image: url("IMG_0065.jpg");
  background-size: 100%;
  height: 900px;
  position: relative;
  .logo{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 50px;
  }
  &__title{
    text-align: center;
    color: white;
    font-weight: bold;
    position: relative;
    &--main{
      text-align: center;
      font-size: 70px;
    }
    &--sub{
      font-size: 20px;
    }
  }
  .signupLinks{
    margin:0 auto;
    width: 600px;
    height: 250px;
    margin-top:200px;
    border-radius: 3%;
    background: rgba(128,128,128,0.8);
    margin-bottom:20px;
    &__buttons{
      position: relative;
      color: #e0e0e0;
      text-align: center;
      &--upper{
        text-align: center;
        padding:30px 30px 50px 30px;
          &--facebook{
            width: 210px;
            height: 30px;
            line-height: 30px;
            font-size:14px;
            background: #1e50a2;
            padding:10px 20px;
            float:left;
            margin-right: 10px;
          }
          &--email{
            width: 210px;
            height: 30px;
            line-height: 30px;
            font-size:14px;
            background: #d0ab5c;
            padding:10px 20px;
            float:right;
          }
        }
      &--middle{
        &--text{
          text-align: center;
          margin-top: 10px;
          font-size: 12px;
        }
        &--or{
          margin: 20px 0 20px 0;
          font-size: 12px;
        }
      }
      &--bottom{
        &--google{
          width: 210px;
          height: 30px;
          line-height: 30px;
          font-size:14px;
          background: #cd5e3c;
          padding:10px 20px;
          margin: 0 auto;
        }
      }
    }
  }

  .loginLink{
    color: white;
    width: 210px;
    height: 30px;
    line-height: 30px;
    font-size:14px;
    padding:10px 20px;
    text-align: center;
    margin:0 auto;
    border: 1px solid #fff;
  }
}

header::before{
  /* 透過した黒を重ねる */
  background-color: rgba(0,0,0,0.2);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.clearfix{
  content: "";
  display: block;
  clear: both;
}