.project-show-wrapper{
  padding: 100px 200px;
  background: #e0e0e0;
  height: 1500px;
  &__title{
    color: gray;
    font-size: 36px;
    &--left{
      margin-top: 30px;
      padding-top: 40px;
      margin-bottom: 10px;
      font-size: 20px;
      float: left;
    }
    &--right{
      float: right;
      margin-top: 10px;
      .link{
        font-size: 20px;
        text-decoration: none;
        color: white;
        width: 100px;
        height: 30px;
        background: orange;
        padding: 10px 20px;
      }
    }
  }
  &__contents{
    border-top: 1px solid gray;
    padding-top: 20px;
    &--left{
      width: 600px;
      float: left;
      &--top{
        &--image{
        width: 100%;
        height: 500px;
      }
      &--userInfo{
        width: 580px;
        height: 100px;
        background: white;
        padding-left: 20px;
        padding-top: 20px;
        &--image{
          float: left;
         }
        &--name{
          float: left;
          line-height: 80px;
          margin-left: 20px;
          .link{
            text-decoration: none;
            color: orange;
          }
          }
        }
        &--introduction{
          width: 580px;
          height: 200px;
          background: white;
          padding-left: 20px;
          padding-top: 20px;
          color: gray;
          font-size: 16px;
        }
      }
      &--bottom{
        margin-top: 50px;
        padding: 20px;
        width: 560px;
        background: white;
        &--info{
          text-align: center;
          &--li{
            float: left;
            width: 33%;
            height: 80px;
            border-right: 1px solid gray;
            &--label{
              color: #e0e0e0;
              padding-bottom: 10px;
            }
            &--content{
              color: gray;
              font-weight: bold;
              &--orange{
                color: orange;
              }
            }
          }
        }
        &--activity{
          margin-top: 120px;
          &--label{
            float: left;
            color: gray;
          }
          &--content{
            float: left;
            color: orange;
            font-weight: bold;
            margin-left: 100px;
          }
        }
        &--detail{
          margin-top: 200px;
          padding-top: 20px;
          color: gray;
          border-top: 1px solid gray;
        }
      }
    }
    &--right{
      float: left;
      width: 330px;
      height: 200px;
      background: white;
      margin-left: 30px;
      text-align: center;
      &--apply{
        p{
        padding-top: 30px;
        color: #e0e0e0;
        }
        &--status{
          padding-top: 20px;
          font-size: 30px;
          color: #99FF33;
          margin-bottom: 20px;
        }
        &--applyBtn{
          padding: 10px 20px;
          width: 80%;
          height: 20px;
          background: #FF6633;
          margin: 0 auto;
          position: relative;
          a{
            top: 0px;
            left: 0px;
            width:100%;
            height:100%;
            position: absolute;
            text-decoration: none;
            color: gray;
            color: white;
            text-align: center;
            text-decoration: none;
            padding-top: 10px;
          }
          // .applyBtn{
          //   color: white;
          //   text-align: center;
          //   text-decoration: none;
          // }
        }
      }
    }
  }
}

.clearfix{
  content: "";
  display: block;
  clear: both;
}