.project-wrapper{
  width: 100%;
  height: 2500px;
  margin: 0 auto;
  padding: 100px 0 100px 0;
  background: #e0e0e0;
  h1{
    text-align: center;
    font-size: 30px;
    color: gray;
  }
  .project-wrapper__projects{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    &--content{
      width: 300px;
      height: 300px;
      padding:0 20px 0 20px;
      float: left;
      position: relative;
      &:hover{
        opacity: 0.7;
      }
      &--image{
        width: 300px;
        height: 200px;
      }
      &--details{
        width: 300px;
        height: 80px;
        background: white;
        border-bottom: 5px solid orange;
        &--userImage{
          padding: 10px 0 10px 10px;
          float: left;
          border-radius: 50%;
        }
        &--title{
          color: gray;
          font-size: 14px;
          padding: 10px 0 10px 30px;
          float: left;
          a{
            top: 0px;
            left: 0px;
            width:100%;
            height:100%;
            position: absolute;
            padding-top: 210px;
            padding-left: 70px;
            text-decoration: none;
            color: gray;
          }
        }
        &--date{
          float: left;
          color: #e0e0e0;
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
  }
  .moreProjects{
    margin-top: 50px;
    text-align: center;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    color: white;
    background: orange;
  }
}

.clearfix{
  content: "";
  display: block;
  clear: both;
}